* {
  background-image: url(./assets/lighterSky.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  font-family: serif;
  text-align: center;
}

.select {
  width: 12rem;
  height: 2rem;
  margin: 0.5rem;
  color: grey;
}

div {
  background-image: none;
}

p, img {
  background-color: white;
  background-image: none;
}