html {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  width: 100%;
}

.App {
  font-family: serif;
  text-align: center;
}

.select {
  width: 12rem;
  height: 2rem;
  margin: 0.5rem;
  color: grey;
  background-color: transparent;
}

p,
img,
div {
  background-color: white;
  background-image: none;
  background-color: transparent;
}
